/*^== global attributes=====> */
body{
    background-color: #22313B;
}
.group{
    box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;

}

.login{
    min-height:100vh;
     background-color: #22313B ;
 }

/* ?==signup main=======> */
.siginup{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#signupName:after{
    content: "<span>name already exists</span>";
}



/*^== Home=====> */
#home{
    height: 75vh;
}
.welcomUser{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.users{
    height: 360px;
    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

li {
    border: 2px solid #ffc107;
    border-radius: 15px;
}